<%= form_for @todo do |todo| %>

  <p>
    <%= todo.label :title %>
    <%= todo.text_field :title %>
  </p>

  <p>
    <%= todo.label :notes %>
    <%= todo.text_area :notes %>
  </p>

  <p>
    <%= todo.label :completed %>
    <%= todo.check_box :completed %>
  </p>

  <p>
    <%= todo.label :duedate %>
    <%= todo.datetime_local_field :duedate, :placeholder => '2016-02-13 10:05:00 AM' %>
  </p>

  <p>
    <%= todo.submit %>
  </p>
<% end %>
