<h1>To-dos</h1>
<%= link_to "Add new todo", new_todo_path %>


<table>
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th>Due Date</th>
    <th>Actions</th>
  </tr>
  <% @todos.each do |todo| %>
    <tr class="<%= todo.completed ? "completed" : "uncompleted" %>">
      <td class="title"><%= link_to todo.title, edit_todo_path(todo) %></td>
      <td class="date"><%= todo.duedate %></td>
      <td class="actions"><%= link_to '✓', todo.completed ? uncompleted_path(todo) : completed_path(todo) %> <%= link_to '×', [todo], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

