<h1>To-dos</h1>
<%= link_to "Add new todo", new_todo_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th>Due Date</th>
    <th>Actions</th>
  </tr>
  <% @todos.each do |todo| %>
    <% if ! todo.completed? %>
      <tr>
        <td><%= link_to todo.title, edit_todo_path(todo) %></td>
        <td><%= todo.completed %></td>
        <td><%= todo.duedate %></td>
        <td><%= link_to '✓', completed_path(todo) %> <%= link_to '×', [todo], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<h1>Completed</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th>Due Date</th>
    <th>Actions</th>
  </tr>
  <% @todos.each do |todo| %>
    <% if todo.completed? %>
      <tr class="completed">
        <td><%= link_to todo.title, edit_todo_path(todo) %></td>
        <td><%= todo.completed %></td>
        <td><%= todo.duedate %></td>
        <td><%= link_to '✓', uncompleted_path(todo) %> <%= link_to '×', [todo], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
</table>

